* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #404040;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* HEADER */

/* CAROUSEL */

/* GROW NATURALLY */

/* WHAT WE DO */

/* WHY CHOOSE US */

/* GALLERY */

/* FEEDBACK */

/* FOOTER */

/* BACK TO TOP */

/* SIDEBAR */
