* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
  font-family: Volkhov, serif;
}
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  background-color: transparent;
  user-select: none;
}
/* strat header */
.dropdown-menu a.active {
  color: #fb811e;
  text-decoration: none;
}
.dropdown-item:hover {
  color: #fb811e;
}
.navbar {
  position: relative;
}
.navbar h1 i {
  font-size: 20px;
  position: absolute;
  transform: translateX(-110px);
}
.search-right input[type=search]{
  background: #fff url(../img/search.png) no-repeat 10px center;;
  border: solid 1px #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 10em;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: none;
}
#demo-2 input[type=search]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
}
.nav-item .dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  transform: translateX(-210px);
  width: 232px;
  max-height: 280px;
  text-align: center;
  margin-bottom: 0;
}
/* .dropdown-item {
  position: absolute;
  z-index: -1;
} */
.navbar .navbar-brand {
  font-size: 32px;
  color: #fb811e;
  padding: 0px;
  position: relative;
  transition: 0.5s;
}
/* Light theme */
.navbar .navbar-brand:hover {
  color: black;
  transition-duration: all 0.5s !important;
}

#myBody {
  background-color: white;
}
#switchButton {
  background-color: transparent;
  font-size: 22px;
  color: white;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
#dropdown {
  transition: ease-in;
}
.nav-item .dropdown {
  color: #fff;
  font-size: 22px;
}
.navbar-nav {
  align-items: center;
}
/* Dark Theme*/
.dark#myBody {
  background-color: black;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}
.dark #switchButton .fa-moon {
  display: none;
}
.dark .navbar .navbar-brand:hover {
  color: white;
}
.dark .dropdown a {
  color: white;
}

.dark .dropdown-menu {
  background-color: #222;
}
.dark .dropdown-menu a.active {
  color: #fb811e;
}
.dark .dropdown-item:hover {
  color: #fb811e;
}
.dark h3 {
  color: #fff;
}
.dark .carousel-left-content h2 {
  color: #0b0d0e;
}
.dark .title-head{
  color: #fff;
}
/* end header */

/* start carousel */
.container-fluid {
  padding: 0;
  overflow: hidden;
  position: relative;
}
.carousel-left-content h2 {
  transform: translateX(150px) translateY(60px);
  font-size: 100px;
  color: #f4f4f4;
  
}
.carousel-content {
  transform: translateX(200px);
}
.carousel-content h3 {
  font-size: 40px;
  line-height: 50px;
}
.carousel-slide {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.carousel-left {
  z-index: 1;
}
.carousel-right {
  position: relative;
  z-index: 0;
}
p {
  font-size: 20px;
  color: #707070;
}
/* end carousel */
/* start growNaturally */
.p-4 {
  transform: translateX(-26px);
}
h5 {
  color: #fb811e;
  font-size: 22px;
}
button {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  background: #fb811e;
  color: #fff;
}
button:hover {
  background: #009f4d;
}
.carousel-item img {
  border-bottom-left-radius: 32px;
}
.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.conent-inner-image {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  right: 0px;
  padding: 16px;
}
.conent-inner-image h5 {
  color: #fff;
}
.conent-inner-image p {
  color: #fff;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}
.call-grids-w3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.box-wrap h4 a {
  font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #060616;
    text-decoration: none;
    transition: all 0.5s;
}
.box-wrap h4 a:hover {
  color: #009f4d;
}
.box-wrap {
    padding: 40px 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow:  0 1rem 3rem rgb(23 19 19);
}
.box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto
}
/* end growNaturally */